<section class="profile">
  <!-- Profile Card -->
  <div class="profile-card">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <div class="card shadow-lg profile-card">
            <div class="card-body">
              <!-- Profile Header -->
              <div class="mb-4">
                <div *ngIf="user?.firstName" class="rounded-circle mb-3 profile-image" style="width: 150px; height: 150px; display: flex; justify-content: center; align-items: center; font-size: 2rem; background-color: #007bff; color: white;">
                  <span>{{ user?.firstName?.charAt(0)?.toUpperCase()}} </span>
                </div>
                <h1 class="h3 font-weight-bold">{{ user?.firstName }} {{ user?.lastName }}</h1>
              </div>

              <!-- Profile Info -->
              <div class="mb-4">
                <h5>Email: {{user?.email}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Profile Posts Section -->
  <div class="profile-posts mt-5">
    <div class="container">
      <h2 class="text-center mb-4">User Posts</h2>

      <!-- Displaying Posts Dynamically -->
      <div class="row">
        <div *ngFor="let post of user?.posts" class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img *ngIf="post.image" [src]="'http://localhost:3700'+post?.image" class="card-img-top" alt="Post image" />
            <div class="card-body">
              <h5 class="card-title"> {{post?.description}} </h5>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <!-- No Posts Message -->
      <div *ngIf="user?.posts?.length === 0" class="text-center">
        <p>No posts to display yet.</p>
      </div>
    </div>
  </div>
</section>
