<main>
  <!-- Navbar Section -->
  <nav class="navbar bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <!-- Navbar Section End -->

  <!-- Post Section -->
  <div class="container mt-5">
    <div class="row">
      <!-- Post Card 1 -->
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 100%">
          <img
            src="https://img.freepik.com/premium-photo/fun-pig-animation_183364-21771.jpg?w=1380"
            class="card-img-top"
            alt="Fun animated pig character"
            style="border-bottom: 1px solid #000"
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <!-- Post Card 1 End -->
    </div>
  </div>
  <!-- Post Section End -->
</main>
