<section>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 box-sh p-3">
        <h2 class="text-center my-4">Login</h2>

        <form [formGroup]="myForm"  class="p-2" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              formControlName="email"
              id="email"
              placeholder="Enter your username"
              required
            />
            <div
              *ngIf="
                myForm.get('email')?.invalid && myForm.get('email')?.touched
              "
              class="text-danger"
            >
              <small *ngIf="myForm.get('email')?.hasError('required')"
                >Email is required.</small
              >
              <small *ngIf="myForm.get('email')?.hasError('email')"
                >Please enter a valid email address.</small
              >
            </div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              placeholder="Enter your password"
              required
            />
            <div
              *ngIf="
                myForm.get('password')?.invalid &&
                myForm.get('password')?.touched
              "
              class="text-danger"
            >
              <small *ngIf="myForm.get('password')?.hasError('required')"
                >Password is required.</small
              >
              <small *ngIf="myForm.get('password')?.hasError('minlength')"
                >Password must be at least 6 characters long.</small
              >
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <div class="text-center mt-3">
          <p>
            Don't have an account?
            <a
              (click)="navigateToSignUp()"
              routerLinkActive="router-link-active"
            >
              Sign up
            </a>
            <br/>
           you want see posts  <a (click)="logintoseeposts()">"click here"</a> 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
