<section>
  <div class="container bg-secondary">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-center my-4">Login</h2>

        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Enter your username"
              required
            />
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Enter your password"
              required
            />
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" />
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>

          <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <div class="text-center mt-3">
          <p>
            Don't have an account?
            <a
              (click)="navigateToSignup()"
              routerLinkActive="router-link-active"
            >
              Sign up
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
